body{
  margin: 0;
}
.menubar {
  list-style: none;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  background-color: rgba(90,189,168,255); 
}
.menubar ul{
  margin: 0px;
  line-height: 50px;
}
.left-content ul{
  align-items: center;
  list-style: none;
  display: flex;
  margin-left: 100px;
}
.left-content ul li a{
  text-decoration: none;
  margin-right: 50px;
  color: white;
  font-family: 'Poppins', sans-serif;
}
.right-content ul{
  list-style: none;
  display: flex;
  margin-right: 100px;
  font-size: 17px;
  
}
.right-content ul li a{
  text-decoration: none;
  margin-right: 20px;
  color: white;
}
.navbar {
  color: rgba(89,105,117,0.9) !important;
  padding-bottom: 0;
}
.navbar .logo{
  display: flex;
  justify-content: center;
}
.logo-img img{
  width: 70px;
}
.logo-txt  h4{
  color: rgba(44,191,173,0.9);
}
.logo-txt p{
  color: rgba(81,103,117,0.9) ;
}
.navbar ul li{
  color: rgba(81,103,117,0.9) ;
  justify-content: space-between;
  font-size: 23px;
}
.navbar .navbar-right a:hover{
  color: rgba(44,191,173,0.9) !important;
} 
.navbar .navbar-right{
  display: flex;
  justify-content: space-around !important;
}

.slider .carousel-item{
  height: 82vh;
}
.slider {
  position: relative;
  overflow: hidden;
}
.slider .txt-box{
  
  position: relative;
  bottom: 10px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;

}
.triangle {
  position: absolute;
  bottom: -25px;
  right: -285px;
  width: 0;
  height: 0;
  border-left: 800px solid transparent;
  border-bottom: 600px solid rgb(255, 255, 255);
}
.slider .txt {
  position: absolute;
  color: rgba(81,103,117,0.9) ; 
  bottom: 35px;
  right: -250px;
}
.grid1{
  margin: 8% 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid1 h1{
  color: rgba(81,103,117,0.9) ; 
}

.grid1 .grid-card {
  margin: 20px;
  width: 300px;
}
.grid1 .grid-card .block{
  padding: 15px;
  transition: all 0.3s;
}
.grid1 .block:hover{
  transform:scale(1.15);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;

} 
.row h5{
  margin: 20px;
  color: rgba(44,191,173,0.9);
}
span{
  font-weight: bold;
}
.grid2{
  background-color: rgba(239,248,255,0.9); 
}

.grid2 h1{
    color: rgba(81,103,117,0.9) ; 
}
.grid2 h1 h5 p{
  text-align: left;
}
.first{    
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 57px;
  text-align: left;
}
.second{    
  background-color: white;
  padding: 15px;
  margin-bottom: 30px;
  text-align: left;
  border-radius: 20px;
}
.second h3{
  color: rgba(44,191,173,0.9); 
}
.third{    
  background-color: white;
  padding: 15px;
  margin-bottom: 30px;
  text-align: left ;
  border-radius: 20px;
}
.grid3 img{
  height: 500px;
  box-shadow: 5px 5px 40px 5px rgb(202, 200, 200);
}
.third h2{
  color: rgba(44,191,173,0.9) !important; 
}
.grid3 a{
  margin: 10px;
}
.grid3 h1{
  color: rgba(81,103,117,0.9) !important; 
}
.grid3 i{
  background-color: rgba(81,103,117,0.9)  !important; 
  color: white;
  border-radius: 20px;
  padding: 10px;
}
.grid3 i:hover{
  background-color: rgba(44,191,173,0.9) !important; 

}
.right-block{
  text-align: left;
  margin-top: 82px;
}
.two-btn{
  background-color: rgba(239,248,255,0.9) !important;
  margin-top: 100px;
}
.two-btn{
  padding-left: 275px;
}
.two-btn .btn-2 a:hover{
  background-color: rgba(44,191,173,0.9) !important;
}
.two-btn h2{
  color: rgba(81,103,117,0.9)  !important; 
}
.two-btn .btn-1 a:hover{
  color: rgba(44,191,173,0.9) !important;
}
.causes .card{
  width: 100%;
}
.causes h1{
  color: rgba(81,103,117,0.9)  !important; 
}
.causes h4{
  color: rgba(44,191,173,0.9) !important; 
}
.causes span{
  margin-right: 70px;
}
.donate-btn :hover{
  background-color: rgba(44,191,173,0.9) !important;
}
.volunteer{
  background-color: rgba(81,103,117,0.9)  !important;
}
.volunteer img{
  border-radius: 100%;
  width: 300px;
  height: 300px;
}
.volunteer h1 {
    color: white !important;
}
.submit-btn:hover{
  background-color: rgba(44,191,173,0.9) !important;
} 

.left-footer img{
  width: 100%;
}
.thought{
  background-color: rgba(81,103,117,0.9) ;
  color: white;
}


@media (min-width: 320px) and (max-width: 600px) {
  .menubar {
    display: flex;
    flex-direction: column;
    align-items:center;

  }
  .menubar ul {
    line-height: 30px; 
  }
  .left-content ul{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-left: 0px;
  }
  .right-content a{
    margin-left: 100%;
    padding: 10px;
    
  }
  .left-content ul li a,
  .right-content ul li a {
    margin-right: 0px; 
    font-size: 14px; 
  }
  .navbar .container-fluid{
    padding: 0;
  }
  .navbar {
    font-size: 16px;
  }

  .two-btn {
    padding: 0;
    text-align: center;
  }
  .two-btn .row{
    padding: 10% 0% !important; 

  }
  .grid1 .row{
    margin-right: 0;
    justify-content: center;

  }
  .grid2 {
    width: 100%;
    margin-right: 0;
  }
  .grid3 .right-block{
    text-align: center;

  }
  .grid3 img{
    width: 100% !important ;
    height: 0%;
  }
  .footer iframe{

    width:100%;
    height: 300px;
    margin-top: 10%;
  }
  .causes .card {
    margin-bottom: 10%;
    padding: 0%;
      }
  .slider .carousel-item{
    height: 50%;
  }
  .slider .txt {
    position: absolute;
    right: 50px; 
  }
  .volunteer  .v-form{
    margin: 0% !important;
    padding: 10% !important;
  }
  .volunteer .right-block-vol img{
    width: 100%;
  }  
  .slider .carousel-indicators{
    margin-bottom: 0rem;
  }
  .slider .s1{
    content: url('../images/slide/slide1.jpg');
   }
   .slider .s2{
    content: url('../images/slide/s2.jpg');
   }
   .slider .s3{
    content: url('../images/slide/s3.jpg');
   }
   .txt{
    display: none;
   }
}
